<%include trainee/layouts/header%>

<div class="col-md-10 col-sm-9 col-xs-12">
    <!-- Main content -->
    <main class="main-container container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="content-panel">
                        <form class="form-horizontal" style="font-size:15px;" method="POST">
                            <fieldset class="fieldset">
                                <br>
                                <h3 class="fieldset-title">Update Exercise</h3>
                                <br> <br>
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Exercise File:</label>
                                    <input type="file" class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;">
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Exercise ID:</label>
                                    <input type="text" class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;" value="aaaaaa">
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Exercise Name:</label>
                                    <input type="text" class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;" value="aaaaaa">
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Create at:</label>
                                    <input type="datetime" class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;" value="aaaaaa">
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Deadline:</label>
                                    <input type="datetime" class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;" value="aaaaaa">
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Description:</label>
                                    <textarea name="" id="" rows="5" class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;">aaaaaaaa</textarea>
                                </div>
                            </fieldset>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                    <input type="submit" class="btn btn-primary" value="Update">
                                    <a class="btn btn-secondary" href="#">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>

<%include trainee/layouts/footer%>