<%include trainee/layouts/header%>

<div class="col-md-10 col-sm-9 col-xs-12">
    <!-- Main content -->
    <main class="main-container container">
        <div class="view-account">
            <section class="module">
                <div class="module-inner">
                    <div class="content-panel">
                        <form class="form-horizontal" style="font-size:15px;">
                            <fieldset class="fieldset">
                                <br>
                                <h3 class="fieldset-title">Your Class</h3>
                                <br> <br>
                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Class ID:</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;">
                                        GCH0704
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 col-sm-3 col-xs-12 control-label">Subject:</label>
                                    <div class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;">
                                        Trai Đẹp
                                    </div>
                                </div>
                            </fieldset>
                            <br>
                            <div class="clearfix"></div>
                            <hr>
                        </form>
                        <div class="clearfix"></div>
                        <h3 class=" col-md-9 col-sm-9 col-xs-12">All Of Your Exercise In This Subject</h3>
                        <div class="table-responsive">
                            <div class=" col-md-9 col-sm-9 col-xs-12">
                                <table class="table-class">
                                    <tr>
                                        <td>
                                            <div class="card" style="width: 250px; height: 200px;">
                                                <div class="card-header"><a href="<%include trainer/exercise/detail%>">Exercise Name</a></div>
                                                <div class="card-body" style="display: inline-block;"><a href="">Exercise here</a></div>
                                                <div class="card-footer">Created at</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="card" style="width: 250px; height: 200px;">
                                                <div class="card-header"><a href="<%include trainer/exercise/detail%>">Exercise Name</a></div>
                                                <div class="card-body" style="display: inline-block;"><a href="">Exercise here</a></div>
                                                <div class="card-footer">Created at</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="card" style="width: 250px; height: 200px;">
                                                <div class="card-header"><a href="<%include trainer/exercise/detail%>">Exercise Name</a></div>
                                                <div class="card-body" style="display: inline-block;"><a href="">Exercise here</a></div>
                                                <div class="card-footer">Created at</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="card" style="width: 250px; height: 200px;">
                                                <div class="card-header"><a href="<%include trainer/exercise/detail%>">Exercise Name</a></div>
                                                <div class="card-body" style="display: inline-block;"><a href="">Exercise here</a></div>
                                                <div class="card-footer">Created at</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="card" style="width: 250px; height: 200px;">
                                                <div class="card-header"><a href="<%include trainer/exercise/detail%>">Exercise Name</a></div>
                                                <div class="card-body" style="display: inline-block;"><a href="">Exercise here</a></div>
                                                <div class="card-footer">Created at</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="card" style="width: 250px; height: 200px;">
                                                <div class="card-header"><a href="<%include trainer/exercise/detail%>">Exercise Name</a></div>
                                                <div class="card-body" style="display: inline-block;"><a href="">Exercise here</a></div>
                                                <div class="card-footer">Created at</div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <a class="btn btn-primary" href="<%include trainer/exercise/create%>" style="margin-left: 180px;">Add New Exercise</a>
                                <a href="#" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>

<%include trainee/layouts/footer%>