<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form role="form" method="post">
        <div class="form-group">
            <label>Tên Role:</label>
            <input required type="text" name="role_name" class="form-control" placeholder="Tên Role...">
        </div>
        <button type="submit" name="sbm" class="btn btn-success">Thêm mới</button>
        <button type="reset" class="btn btn-default">Làm mới</button>
</body>
</html>