<%-include ('../layouts/header')-%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Faculty Management
        </h1>
    </section>

<!-- Main content -->
<main class="main-container container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="content-panel">
                    <form class="form-horizontal">
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title">Update Faculty</h3>

                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Faculty Name</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="<%=data.faculty.Faculty_name%>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Faculty Description</label>
                                <div class="col-md-10 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" value="<%=data.faculty.Faculty_des%>">
                                </div>
                            </div>

                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-primary" type="submit" value="Update Information">
                                <a class="btn btn-secondary" href="/Faculty">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%-include ('../layouts/footer')-%>