
<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="static/Admin/js/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="static/Admin/js/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="static/Admin/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="static/Admin/js/adminlte.min.js"></script>

<script type="text/javascript" src="static/Admin/js/script.js">

</script>
</body>
    </html>