<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <%for(x in locals.user){%>
            <div class="pull-left image">
                <img <%if(locals.user[x].User_avatar == ''){%>src="static/Admin/image/user2-160x160.jpg"<%} else{%>src="static/Admin/image/<%=locals.user[x].User_avatar%>"<%}%>  class="user-image" alt="User Image">
            </div>
            <div class="pull-left info">
                <p><%=locals.user[x].User_full%></p>
                <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
            </div>
           <%}%>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">STAFF FUNCTION</li>
            <li>
                <a href="#">
                    <i class="fa fa-th"></i> <span>Manage Account</span>
                </a>
            </li>
            <li>
                <a href="/Faculty" onclick="myFunction()">
                    <i class="fa fa-code"></i> <span >Manage Factualy</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- Script for dropdown -->
    <script type="text/javascript">
        function myFunction() {
          var x = document.getElementById('dropd');
          if (x.style.display == 'none') {
              x.style.display = 'block';
          } else {
              x.style.display = 'none';
          }
        }
    </script>
    <!-- /.sidebar -->
</aside>
