<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <%for(x in locals.user){%>
            <div class="pull-left info">
                <p><%=locals.user[x].User_full%></p>
                <a href="#"><i class="fa fa-circle text-success"></i>Online</a>
            </div>
           <%}%>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">STAFF FUNCTION</li><br>
            <li>
                <a href="#">
                    <i class="fa fa-th"></i> <span>Account Management</span>
                </a>
            </li><br>
            <li>
                <a href="/Faculty"class="fa fa-code">Faculty Management</a>
            </li><br>
            <li>
                <a href="/Faculty" class="fa fa-code">Interactive Management Of Tutor</a>
            </li>
        </ul>
    </section>
    <!-- Script for dropdown -->
    <!-- /.sidebar -->
</aside>
