<%-include ('./layouts/header.ejs')-%>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Manage Account
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <h1>Liệt kê danh mục</h1>
        <a href="#" class="btn btn-primary">
           <i class="fa fa-plus"></i> Create
        </a>
        <br />
        <div class="table-reponsive">
            <table class="table table-striped table-hoved">
                <tr>
                    <th>User ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Created_at</th>
                    <th>Updated at</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>
                        01
                    </td>
                    <td>
                        Ngo Quang Huy
                    </td>
                    <td>
                        Huynqgch17251@fpt.edu.vn
                    </td>
                    <td>
                        ngohuy123
                    </td>
                    <td>
                        Trainer
                    </td>
                    <td>
                        03:02:52
                    </td>
                    <td>
                        00:00:00
                    </td>
                    <td>
                        <a href="#" title="Detail">
                            <i class="fa fa-eye"></i>
                        </a> &nbsp;
                        <a href="#" title="Update">
                            <i class="fa fa-pencil"></i>
                        </a> &nbsp;
                        <a href="#" title="Delete" onclick="return confirm('Are you sure delete?')">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </section>
    <!-- /.content -->
</div>

<%-include ('./layouts/footer.ejs')-%>